@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap rel="stylesheet');


* {
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
}

:root {
    --color-dark: #070B0E;
    --color-graydark: #353A40;
    --color-graymed: #656C72;
    --color-graylight: #B9BDC0;
    --color-brown: #A6805C;
}

body {
    height: 98vh;
    width: 100%;

    background: rgb(7, 11, 14);
    background: linear-gradient(90deg, rgba(7, 11, 14, 1) 0%, rgba(53, 58, 64, 1) 100%);

    overflow-x: hidden;
}

main {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*Barra de navegación y footer*/
.navbar,
footer {
    background-color: var(--color-graydark);

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.3rem;
}

.nav-img {
    width: 3rem;
    height: auto;
}

#nav-link,
.btn {
    color: var(--color-graylight) !important;
}

.nav-item {
    width: 7rem;
    height: auto;
}

.nav-item:active {
    border-radius: 10%;
    box-shadow: 6px 5px 8px #0000008c inset;
}

#pie-pagina {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.btn:hover,
#nav-link:hover {
    color: var(--color-brown) !important;
}

/* Contenido página de inicio */

.contenedor-grid {
    display: grid;
    grid-auto-rows: 45rem;
    grid-template-columns: repeat(2, 2fr);
    gap: 4rem;
    justify-content: center;
    align-items: center;
}

.inicio-sec-texto {
    text-align: end;
}

.inicio-sec-texto h1 {
    color: var(--color-brown);
}

.inicio-sec-texto h3 {
    color: var(--color-graylight);
}

.img-inicio {
    width: 35rem;
    height: auto;
}

/* Página ¿Quién soy?*/
.pag-titulo {
    color: var(--color-brown);
}

.contenedor-about,
.contenedor-skills {
    color: var(--color-graylight);
}

.sobremi-desc,
.sobremi-obj,
.skills {
    box-shadow: 0px 0px 11px -1px var(--color-graylight);
    -webkit-box-shadow: 0px 0px 11px -1px var(--color-graylight);
    -moz-box-shadow: 0px 0px 11px -1px var(--color-graylight);
}

p {
    text-align: justify;
}

/* Skills */
.contenedor-skills {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-skills {
    color: var(--color-brown);
    margin: 3rem;
}

.skills {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.skills div {
    margin-bottom: 0.5rem;
}

.progreso {
    height: 2rem;
    width: 100%;
    margin: 0.1rem;
    
    border: 3px solid var(--color-brown);
}

.progreso p {
    color: var(--color-brown);
    margin-left: 3rem;

    font-weight: bold;
}

.skill-1 .progreso {
    background: var(--color-graylight);
}

.skill-2 .progreso {
    background: var(--color-graydark) linear-gradient(to left, transparent 10%, var(--color-graylight) 40%);
}

.skill-3 .progreso {
    background: var(--color-graydark) linear-gradient(to left, transparent 10%, var(--color-graylight) 30%);
}

.skill-4 .progreso {
    background: var(--color-graydark) linear-gradient(to left, transparent 70%, var(--color-graylight) 75%);
}

.skill-5 .progreso {
    background: var(--color-graylight);
}


/* Elementos responsive*/
@media screen and (max-width: 992px) {
    footer {
        width: 100%;
        position: fixed !important;
    }

    .sobre-mi {
        padding-bottom: 7rem;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .contenedor-grid {
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        gap: 2rem;

        justify-items: center;
        align-items: center;

        padding-top: 2rem;
    }

    .inicio-sec-texto {
        text-align: center;
    }

    .img-inicio {
        transition: all;
        transition-duration: .5s;
        width: 30rem;
        height: auto;
    }
}

@media (max-width: 575px) {
    .nav-img {
        width: 2rem;
        height: auto;
    }

    .contenedor-grid {
        grid-auto-rows: auto;
        grid-template-columns: 1fr;
        gap: 2rem;

        justify-items: center;
        align-items: center;

        padding-top: 4rem;
    }

    .inicio-sec-texto {
        text-align: center;
    }

    .img-inicio {
        transition: all;
        transition-duration: .5s;
        width: 20rem;
        height: auto;
    }
}